.countdown {
  width: 328px;
  height: 158px;
  position: absolute;
  bottom: 196px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;

  &--sign-up {
    top: 396px;
  }

  &__end-date {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;

    &--sign-up {
      color: var(--dark);
    }

    & > span {
      color: var(--blue);
    }
  }

  &__elements {
    display: flex;
    justify-content: space-between;
  }

  &__element {
    width: 20%;
    background-color: var(--light-dark);
    color: #fff;
    font-size: 12px;
    padding: 20px 5px 10px;
    border-radius: 4px;

    & > span {
      display: block;
      font-size: 32px;
      font-weight: 700;
    }

    &--sign-up {
      background-color: #e4eaff;
      color: var(--dark);

      & > span {
        color: var(--blue);
      }
    }
  }
}

@media (min-width: 768px) {
  .countdown {
    box-sizing: border-box;
    bottom: 204px;
    width: 448px;

    &__element {
      width: 23%;
      color: rgba(#fff, 0.5);
      font-size: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 128px;
      border-radius: 13px;
      padding: 0;
      padding-top: 20px;

      & > span {
        display: inline-block;
        font-size: 56px;
        color: #fff;
        margin-bottom: 10px;
      }

      &--sign-up {
        color: var(--gray);
        height: 128px;
        & > span {
          color: var(--blue);
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .countdown {
    width: 448px;
    height: 176px;
    bottom: 91px;
    left: 0;
    transform: none;

    &--sign-up {
      top: 541px;
      left: 165px;
    }
  }
}
