.countdown {
  width: 328px;
  height: 158px;
  position: absolute;
  bottom: 196px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.countdown__end-date {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}

.countdown__end-date > span {
  color: var(--blue);
}

.countdown__elements {
  display: flex;
  justify-content: space-between;
}

.countdown__element {
  width: 20%;
  background-color: var(--light-dark);
  color: #fff;
  font-size: 12px;
  padding: 20px 5px 10px;
  border-radius: 4px;
}

.countdown__element > span {
  display: block;
  font-size: 32px;
  font-weight: 700;
}
