.form {
  position: absolute;
  top: 683px;
  width: 327px;
  height: 465px;
  border-radius: 13px;
  background-color: #fff;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__element {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 45px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--gray);
    line-height: 28px;
    padding-left: 16px;
    outline: none;
    color: #747b95;

    &--container {
      width: 80%;
      position: relative;
      &-error::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        right: 0;
        background-image: url("./icon-cross.svg");
        background-size: 20px 20px;
      }
    }

    &--error {
      color: red;
      border-bottom: 1px solid red;
    }
  }
}

@media (min-width: 768px) {
  .form {
    &--sign-up {
      width: 445px;
      height: 508px;
      top: 684px;
    }
  }
}

@media (min-width: 992px) {
  .form {
    &--sign-up {
      left: unset;
      transform: none;
      top: 237px;
      right: 15%;
      box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    }
  }
}
