.info {
  position: absolute;
  text-align: center;
  top: 412px;
  width: 327px;
  left: 50%;
  transform: translate(-50%, 0);

  &__title {
    font-size: 40px;
    line-height: 48px;
    color: #333950;
    margin: 0;
  }

  &__description {
    font-size: 16px;
    line-height: 28px;
    color: var(--gray);
  }

  &--sign-up {
    top: 156px;

    & > .btn {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .info {
    display: inline-block;
    top: 206px;
    width: 345px;
    height: 352px;
    text-align: left;
    margin: 0;
    left: 0;
    transform: none;

    &--sign-up {
      top: 206px;
      display: block;
      height: 242px;
      width: 80%;
      text-align: center;
      left: 50%;
      transform: translate(-50%, 0);

      & > .btn {
        display: none;
      }
    }

    &__title {
      margin: 0;
      margin-bottom: 24px;
    }

    &__description {
      margin: 0;
      margin-bottom: 15px;
    }
  }
}
