.cards {
  position: absolute;
  top: 890px;
  z-index: 1;
  width: 100%;
}

@media (min-width: 768px) {
  .cards {
    top: 656px;
  }
}

@media (min-width: 992px) {
  .cards {
    // position: relative;
    top: 928px;
    width: 100%;
    height: auto;
  }
}
