.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 46px;
}

@media (min-width: 768px) {
  .logo {
    height: 30px;
    top: 72px;
    left: 0;
    transform: none;
  }
}
