.card {
  width: 327px;
  height: 508px;
  border-radius: 28px;
  background-color: #fff;
  text-align: center;
  margin: 35px auto;

  &--blue {
    background-image: url("./bg-pattern-pricing.svg");
    background-size: 880px;
    background-repeat: no-repeat;
    background-position: -279px -385px;
    background-color: var(--blue);
    color: #fff;
  }

  &__plan {
    padding-top: 35px;
  }
}
