.header {
  background-image: url("./bg-pattern-header.svg");
  background-size: 458px;
  background-position: -42px -170px;
  background-repeat: no-repeat;
  height: 1716px;
  background-color: #f2f2f2;
}

.footer {
  position: relative;
  height: 1248px;
  background-color: var(--dark);
  background-image: url("./bg-pattern-footer.svg");
  background-size: 1202px;
  background-position: -413px 160px;
  background-repeat: no-repeat;
}

.footer .timer {
  width: 328px;
  height: 158px;
  position: absolute;
  bottom: 196px;
}

.footer .btn-container {
  width: 100%;
  position: absolute;
  bottom: 100px;
}
