.header {
  background-image: url("./bg-pattern-header.svg");
  background-size: 458px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-position: -42px -170px;
  height: 1716px;

  &--sign-up {
    height: 916px;
  }
}

@media (min-width: 768px) {
  .header {
    height: 1196px;
    background-size: 666px;
    background-position: 395px -164px;

    &--sign-up {
      height: 965px;
      background: initial;
      background-color: #f2f2f2;
    }
  }
}
