.footer {
  position: relative;
  background-color: var(--dark);
  background-image: url("./bg-pattern-footer.svg");
  background-size: 1202px;
  background-repeat: no-repeat;
  height: 1248px;
  background-position: -413px 160px;

  &--sign-up {
    height: 320px;
    background-position: -414px -472px;
    transform: rotate(180deg);
  }
}

.container > .btn {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (min-width: 768px) {
  .footer {
    height: 986px;
    background-size: 1454px;
    background-position: -342px 63px;

    &--sign-up {
      height: 380px;
      background-size: 1454px;
      background-position: -343px -542px;
    }
  }

  .container > .btn {
    bottom: 52px;
  }
}

@media (min-width: 992px) {
  .footer {
    height: 603px;
    background-size: 2167px;
    background-attachment: scroll;
    background-position: -742px -663px;

    &--sign-up {
      width: 33%;
      height: 100vh;
      background-size: 2036px;
      background-position: -838px -318px;
    }
  }

  .container > .btn {
    bottom: 151px;
    left: unset;
    right: 165px;
    transform: none;
  }
}
